<!DOCTYPE html>
<html lang="en">
<head id="cindex-gen">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="page-title"></title>

  <!-- Style  -->
  <link rel="stylesheet" href="../style.css">

  <!-- Font  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

</head>
<body>

<div class="header">
  <div class="nav">
    <a href="https://bitgolia.com">
      <h1 class="title">Bitgolia</h1>
    </a>
  </div>
</div>

<div class="wrapper">
  <div class="site-content">
    <a href="../index.html"><p class="pad">Home</p></a>
    <div class="page-content">

    </div>
  </div>

  <div class="footer">
    <a href="https://github.com/musoto96/cindex.git" target="_blank">
      <p>Documentation</p>
    </a>
  </div>

</div>
</body>
</html>