<section>
  <h1 class="page-title">Title</h1>
  <p class="date">Month XX, 20XX.</p>

  <br>
  <br>
  <hr>
  <br>
  <br>

  <article>

    <p>
      Intro
    </p>


    <br>

    <hr>

    <br>


    <h3 id="table-of-contents">
      Table of contents
    </h3>

    <ul>

      <li><a href="#table-of-contents">
        Table of contents
      </a></li>

      <li><a href="#item-one">
        item one
      </a></li>

      <li><a href="#item-two">
        item two
      </a></li>

    </ul>

    <br> 

    <hr>

    <br> 


    <h4 id="item-one">
      item one
    </h4>

    <p>
      Bla bla bla
    </p>

    <pre>
<code>// This is code
Hello_world();</code>
    </pre>

    <p>
      Bla, bla
    <br>
      Bla, bla <code>2 &gt; 1 &gt; -1</code>
    </p>


    <p><a href="#top">[Top]</a></p><br>


    <h4 id="item-two">
      item two
    </h4>

    <p>
      Bla, bla
      <br>
      Item two
    </p>

    <pre>
<code>&amp;F&amp;C1&amp;D2E0S0=0</code>
    </pre>

    <p>
      Bla, bla
    </p>

    <p><a href="#top">[Top]</a></p><br>

  </article>

  <div id="cindex-tags">
    test,sample
  </div>

</section>
