html {
  font-family: 'Courier Prime', sans-serif;
  font-size: small;
}

html a {
 color: blue;
}

code {
  background-color: aliceblue;
  line-height: normal;
}

#tag-list li {
 list-style-type: circle;
}