html {
  font-family: 'Courier Prime', sans-serif;
  font-size: small;
  overflow-x: hidden;
}

html a {
 color: blue;
}

code {
  background-color: aliceblue;
  line-height: normal;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#tag-list li {
 list-style-type: circle;
}